/spyderScripts/dataGenerated/.*
/spyderScripts/dataGenerated/generated/*
/spyderScripts/dataGenerated/resized/dni/*
/spyderScripts/dataGenerated/resized/licensia/*
imageGenerator/*
.idea/*
/spyderScripts/batching/content/*